<a href="https://colab.research.google.com/github/inesmnif/inesmnif.github.io/blob/main/Decision_trees_Checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as pyo

In [2]:
#1-Read your Titanic dataset as usual: Create a training set and a testing set then apply decision tree.
df=pd.read_csv('titanic-passengers.csv', sep=';')
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [4]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Df Preprocessing

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    object
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [6]:
df.dropna(axis=1,how='any',inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,343,No,2,"Collander, Mr. Erik Gustaf",male,0,0,248740,13.0000
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,0,0,348123,7.6500
2,641,No,3,"Jensen, Mr. Hans Peder",male,0,0,350050,7.8542
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,0,4,349909,21.0750
4,672,No,1,"Davidson, Mr. Thornton",male,1,0,F.C. 12750,52.0000

In [7]:
df.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,343,0,2,"Collander, Mr. Erik Gustaf",male,0,0,248740,13.0000
1,76,0,3,"Moen, Mr. Sigurd Hansen",male,0,0,348123,7.6500
2,641,0,3,"Jensen, Mr. Hans Peder",male,0,0,350050,7.8542
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,0,4,349909,21.0750
4,672,0,1,"Davidson, Mr. Thornton",male,1,0,F.C. 12750,52.0000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
dtypes: float64(1), int64(5), object(3)
memory usage: 62.8+ KB

In [11]:
x=df[['Pclass','SibSp','Parch','Fare']]
y=df['PassengerId']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [23]:
import tensorflow as tf
!pip install tensorflow_decision_forest

ERROR: Could not find a version that satisfies the requirement tensorflow_decision_forest (from versions: none)
ERROR: No matching distribution found for tensorflow_decision_forest

In [24]:
#applying tree algorithm
import tensorflow_decision_forests as tfdf
model = tfdf.keras.RandomForestModel()
model.fit(X_train, y_train)   #fitting the model

ModuleNotFoundError: ignored

In [ ]:
# Summary of the model structure.
model.summary()

# Evaluate the model.
model.evaluate(X_train)

In [ ]:
#2-Plot your decision tree and try to read the tree branches and conclude a prediction manually.